body {
  font-size: 1.2em;
}

table {
    border-collapse: collapse;
}

table, th, td {
    border: 1px solid black;
}

tr > td[ui-sref]:hover {
  display: inline-block;
  cursor: pointer;
  border: solid black 1px;
}
